.additionalLinks {
    align-items: flex-end;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.additionalLinks a {
    color: var(--neutral);
    font-family: 'Montserrat';
    font-size: 1rem;
    text-decoration: underline;
    text-underline-offset: 0.125rem;
}

.backgroundLogo {
    bottom: 0;
    height: 28rem;
    position: fixed;
    right: -3rem;
    width: 28rem;
}

.externalLinks {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.footer {
    width: 100dvw;
    background-color: var(--footer);
}

.footerContent {
    display: grid;
    gap: 1rem;
    padding: 5rem 2rem 10rem 2rem;
}

.footerContent p {
    color: var(--neutral);
    display: flex;
    justify-content: center;
}

.middleContact {
    display: grid;
    gap: 1rem;
}

.pageLinks {
    display: grid;
    gap: 1rem;
}

.pageLinks a {
    color: var(--neutral);
    font-family: 'Roboto';
    font-size: 1.5rem;
}

.verticalLine {
    border-left: 1px solid var(--neutral);
    height: 1rem;
}

@media (min-width: 768px) {
    .careerButton {
        align-items: flex-end;
        display: grid;
    }

    .careerButton, .footerContent img  {
        padding-bottom: 2rem;
    }
    
    .footer {
        display: flex;
        justify-content: center;
    }

    .footerContent {
        display: flex;
        justify-content: space-between;
        padding: 4rem 2rem;
        width: 100%;
    }

    .middleContact {
        gap: 2rem;
        justify-content: space-evenly;
    }

    .pageLinks {
        display: flex;
        flex-direction: column;
    }
}