.horizontalPane:nth-child(odd) > div::before {
    right: 0;
}

.horizontalPane img {
    height: auto;
    width: 100dvw;
}

@media (min-width: 768px) {
    .horizontalPane {
        display: grid;
        grid-auto-flow: column;
        grid-template-areas: 'left right';
        margin-left: 1rem;
        margin-top: 6rem;
    }

    .horizontalPane img {
        align-self: flex-end;
        height: auto;
        max-width: 36.875rem;
        object-fit: contain;
        width: 50dvw;
        z-index: 1;
    }

    .horizontalPane:nth-child(odd) > div::before {
        left: 0;
        padding: 3rem 0 0 5rem;
    }

    .horizontalPane:nth-child(odd) img {
        grid-area: right;
    }
}