/* TODO: FIX TRANSITION ANIMATION ON INGREDIENTS */
/* TODO: CREATE DROPDOWN BUTTON ON ALLERGENS IN DESKTOP VIEWPORT */
/* TODO: TIDDY SPACING BELOW INGREDIENTS IN DESKTOP VIEWPORT */

.allergenTitle {
    padding-top: 1rem;
}

.allergens {
    margin-top: -0.5rem;
    max-width: calc(100dvw - 4rem);
    padding-bottom: 1rem;
    text-align: left;
}

.allergens p {
    display: inline;
}

.description {
    max-width: calc(100dvw - 4rem);
    padding: 2rem 0 0 2rem;
}

.drownDownButton {
    background-color: var(--hero);
    padding-left: 4rem;
}

.drownDownButton h3 {
    margin: 0 !important;
    padding-bottom: 2rem;
    text-decoration-thickness: 0.15rem;
    text-decoration: underline;
}

.drownDownButton img {
    position: relative;
    right: 2rem;
    top: -3.5rem;
    width: 1.5rem;
}

.downDownClosed {
    height: 0;
}

.downDownInformation {
    background-color: var(--hero);
    overflow: hidden;
    padding-left: 4rem;
}

.downDownInformation p {
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1.25rem;
}

.drownDownButton::before {
    background: var(--hero);
    content: '';
    display: flex;
    height: 38dvw;
    left: -4rem;
    margin-top: -38dvw;
    position: relative;
    width: calc(100dvw + 4rem);
    z-index: -1;
}

.itemImage {
    align-self: flex-end;
    height: auto;
    position: relative;
    right: -45%;
    width: 100dvw;
    z-index: 1;
}

.menuItem {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    width: calc(100dvw);
}

.menuItem h2 {
    padding-left: 2rem;
}

.menuItem:nth-child(even) .itemImage {
    right: 45%;
}

.subtype {
    display: flex;
    gap: 1rem;
    padding: 2rem 0 0 2rem;
}

.subtypeText {
    border-radius: 0.25em;
    border: 0.15em solid grey;
    color: var(--subtext);
    font-weight: bold;
    opacity: 0.5;
    padding: 0.25em 0.6em 0.25em 0.4em;
}

@media (min-width: 768px) {
    .drownDownButton {
        max-width: calc(36.875rem);
        padding-top: 2rem;
        width: calc(50dvw - 4rem);
    }

    .drownDownButton h3 {
        padding-bottom: 0;
    }

    .drownDownButton img {
        top: -1.5rem;
    }
    
    .drownDownButton::before {
        background-color: initial;
        height: 2rem;
        margin-top: -2rem;
        max-width: 36.875rem;
        width: 50dvw;
    }

    .drownDownButton, .downDownInformation {
        background-color: rgba(244, 231, 205, 0.5);
    }

    .downDownClosed {
        height: 100%;
    }

    .itemImage {
        align-self: flex-start;
        grid-area: image;
        max-width: 40rem;
        right: clamp(10rem, 25dvw, 25rem);
        width: 50dvw;
    }

    .itemInformation, .itemSummary {
        justify-self: center;
        max-width: 36.875rem;
        width: 50dvw;
    }

    .itemSummary h2 {
        font-size: 3.5rem;
    }

    .itemInformation {
        display: grid;
        grid-template-areas: 
        'text image'
        'text image'
        ;
    }

    .menuItem {
        display: grid;
        grid-template-areas: 'left right';
        justify-self: center;
        max-width: 73.75rem;
        overflow: hidden;
    }

    .menuItem:nth-child(odd) .allergens {
        width: 50%;
    }

    .menuItem:nth-child(even) .itemInformation {
        background-color: rgba(244, 231, 205, 0.5);
        width: 50dvw;
    }

    .menuItem:nth-child(even) .itemSummary {
        grid-area: right;
    }

    .menuItem:nth-child(even) .drownDownButton,
    .menuItem:nth-child(even) .downDownInformation {
        background-color: rgba(244, 231, 205, 0);
        left: 40%;
        position: relative;
        width: 30%;
    }

    .menuItem:nth-child(even) .itemImage {
        right: clamp(37.5rem, 80dvw, 62.5rem);
    }
}