@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Montserrat:wght@200&display=swap');

:root {
    --accent: #891B6B;
    --offset-yellow: #f4e7cd;
    --active: #2F3734;
    --buttons: #F22B32;
    --hero: #F4E7CD;
    --neutral: #FFFDF5;
    --white: #FFFFFF;
    --subtext: #1A211E;
    --titles: #000000;
    --footer: #19211e;
}

a {
    color: var(--subtext);
    font-family: 'Roboto';
    font-size: 0.75rem;
    text-decoration: none;
}

body {
    background-color: var(--neutral);
    display: flex;
    justify-items: center;
    margin: 0;
}

button {
    font-family: 'Roboto';
    font-size: 1rem;
    background-color: var(--buttons);
    border-radius: 0.5em;
    border: none;
    color: var(--neutral);
    padding: 1em;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

p {
    font-family: 'Montserrat';
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

/* MOBILE - MEDIUM */
@media (min-width: 375px) {
    
}

/* MOBILE - LARGE */
@media (min-width: 425px) {
    
}

/* TABLET */
@media (min-width: 768px) {
    body {
        display: flex;
        justify-content: center;
        padding: 0 1.5rem;
    }

    button {
        padding: 1.5em 2em;
    }
}

/* LAPTOP */
@media (min-width: 1024px) {
    
}

/* LAPTOP - LARGE */
@media (min-width: 1440px) {
    
}

/* 4K */
@media (min-width: 2560px) {
    
}