.burgerImage {
    height: auto;
    justify-self: flex-end;
    left: 3rem;
    object-fit: cover;
    position: relative;
    width: clamp(80%, 100dvw ,90%);
}

.home {
    display: grid;
    justify-items: center;
    width: 100dvw;
}

.heroSection {
    padding-left: 1rem;
}

.heroSection, .video {
    width: calc(100dvw - 1rem);
}

.heroTitle {
    position: relative;
    top: -4.5rem;
}

.locationSection {
    display: grid;
    gap: 2rem;
    padding:  0 0 3rem 1rem;
}

.locationSection p {
    max-width: 55.5rem;
    letter-spacing: 0.1em;
    line-height: 1.5;
    padding-right: 1rem;
}

@media (min-width: 768px) {
    .burgerImage {
        left: 5rem;
        width: 25.5rem;
        grid-area: image;
    }

    .heroSection {
        display: flex;
        flex-direction: column;
        padding: 0 1rem 0 4rem;
        width: calc(100dvw - 5rem);
    }

    .heroTitle {
        left: -2rem;
        top: -11rem;
    }

    .locationSection {
        padding:  0 0 3rem 3rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            'intro intro'
            'body image'
            'body image'
            'button nothing'
        ;
    }

    .locationSection a {
        grid-area: button
    }

    .locationSection p {
        font-size: 1.25rem;
    }

    .locationSection p:nth-child(1) {
        grid-area: intro;
    }

    .locationSection p:nth-child(2) {
        grid-area: body;
    }

    .video {
        align-self: flex-end;
        display: flex;
        width: 43rem;
    }
}