.home {
    display: grid;
    justify-items: center;
    width: 100dvw;
}

.heroSection {
    padding-left: 1rem;
}

.heroSection, .video {
    width: calc(100dvw - 1rem);
}

.heroTitle {
    position: relative;
    top: -2.5rem;
}

/* LOCATION SECTION */

.locationSection {
    display: grid;
    gap: 2rem;
    padding:  0 0 3rem 1rem;
}

.locationSection img {
    height: auto;
    justify-self: flex-end;
    left: 3rem;
    object-fit: cover;
    position: relative;
    width: clamp(80%, 100dvw ,90%);
}

.locationSection p {
    padding-right: 1rem;
}

/* NEW PRODUCT SECTION */

.newProductSection {
    background-color: var(--hero);
    display: inline;
    padding: 3rem 0 5rem 0;
}

.newProductSection h2, .newProductSection p, .newProductSection div {
    left: 4rem;
    padding-right: 7rem;
    position: relative;
}

.newProductSection img {
    height: auto;
    max-width: 31.25rem;
    width: 100dvw !important;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
    .heroSection {
        display: flex;
        flex-direction: column;
        padding: 0 1rem 0 4rem;
        width: calc(100dvw - 5rem);
    }

    .heroTitle {
        left: -2rem;
        top: -7rem;
    }

    .locationSection {
        display: inline-block;
    }

    .locationSection img {
        float: right;
        width: 25.5rem;
    }

    .locationSection p {
        font-size: 1.25rem;
        padding-bottom: 1.5rem;
    }

    .video {
        align-self: flex-end;
        display: flex;
        width: 43rem;
    }
}

/* align-self: center;
color: var(--accent);
display: flex;
float: left;
font-family: 'Roboto';
gap: 0.5rem;
left: -7.5rem;
left: 4rem;
letter-spacing: 0.1em;
rotate: -90deg;
top: -10.5rem; */